{% extends "routersNetworkHtmlPages/header.html" %}


{% load static %}

{% block title %}
    Services
{% endblock %}

{% block pagecontent %}

<!-- ======= Breadcrumbs ======= -->
    
<section id="breadcrumbs" class="breadcrumbs" style="background-color: white;">
    <div class="container">

        <ol>
            <li><a href="/">Home</a></li>
            <li>Services</li>
        </ol>

    </div>
  </section>
<!-- End Breadcrumbs -->
   
    


    <!-- banner start -->
    <section id="cta" class="cta" style="background:rgb(20, 26, 70);">
        <div class="container" data-aos="zoom-in">
  
          <div class="row">
            <div class="col-lg-12 text-center text-lg-start">
              <h1 class="text-center" style="color: #F69545;">Our Services</h1>
              <!-- <p> Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p> -->
            </div>
            <!-- <div class="col-lg-3 cta-btn-container text-center">
              <a class="cta-btn align-middle" href="#">Call To Action</a>
            </div> -->
          </div>
        </div>
    </section>
      
      <!-- banner ends -->

      <!-- section of Isp service start  -->
      <div id="isp"></div>
      <section  class="pricing" >
        <div class="container" data-aos="fade-up">
  
          <div class="section-title" >
            <h2>ISP License </h2>
            <!-- <p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat sit in iste officiis commodi quidem hic quas.</p> -->
          </div>
  
          <div class="row" id="vno" >
  
            <div class="col-lg-6 d-flex align-items-center" data-aos="fade-right" data-aos-delay="100">
              <!-- <img src="assets/img/skills.png" class="img-fluid" alt=""> -->
              <img src="{% static '\img\isp\vno.png' %}" class="img-fluid" alt="My image">
            </div>
            
            <div class="col-lg-6 pt-4 pt-lg-0 content" data-aos="fade-left" data-aos-delay="100">
              <h3 style="font-size: 31px;" >Virtual Network Operations License </h3>
              <p class="fst-italic" style="font-size: 18px;">
                <!-- <i class="ri-checkbox-blank-circle-fill" style="color:#3D4D6A";></i> -->
                Virtual Network Operator (VNO) or Mobile Virtual Network Operator (MVNO) is an internet service reseller and provides management services because they do not own telecommunication infrastructure. VNO’s are categorized as virtual networks because they do not possess actual network while offering these network services to their customers. VNO networks often lease bandwidth from various telecom providers at wholesale rates in order to provide solutions to their end customers. 
              </p>
              <ul class="fst-italic" style="font-size: 20x; font-weight: bold; color: ; ">
                <li style="font-size: 18px;"><i class="bx bx-check"></i>Comparatively cost effective</li>
                <li style="font-size: 18px;"><i class="bx bx-check"></i>Reduce network complexity</li>
                <li style="font-size: 18px;"><i class="bx bx-check"></i>Reduce time to market</li>
                <li style="font-size: 18px;"><i class="bx bx-check"></i> Reduced CAPAX</li>
                <li style="font-size: 18px;"><i class="bx bx-check"></i> Increased flexibility</li>
                <li style="font-size: 18px;"><i class="bx bx-check"></i>Quick formation/arrangement</li>
                <li style="font-size: 18px;"><i class="bx bx-check"></i>No heavy investments on infra</li>
                <!-- <li><i class="bx bx-check"></i>Reduced market barriers</li>
                <li><i class="bx bx-check"></i>Get bandwidth purchase credit in AGR calculation</li> -->
              </ul>
            </div>
  
  
  
          </div>
        </div>
      </section>
  
      <!-- section of Isp service ends  -->


      <!-- Unified License ISP starts here  -->

      <section id="unified" class="why-us section-bg">
        <div class="container-fluid" data-aos="fade-up">
  
          <div class="row">
            <div class="section-title">
              <h2>Unified License ISP
              </h2>
            </div>
            <div class="col-lg-6 d-flex flex-column justify-content-center align-items-stretch  order-2 order-lg-1">
  
              <div class="content">
                
                <ul style="font-size: 18px;  color: #072C50;">
                  <li>
                    <!-- <i class="bx bx-chevron-right"></i>  -->
                    Under Data Services the operators can provide INTERNET and INTERNET Telephony services 
                    but can’t connect PSTN line . The area of operation is defined by the category of the 
                    license that has been applied for – Category A, B or C. 
                  </li>
                  <br>
                  <li>
                    <!-- <i class="bx bx-chevron-right"></i>  -->
                    Category A – National-level Operations (Pan-India Circle)
                    <br>Category B – State-level Operations and Metro Service area like- Mumbai metro & Delhi+NCR Circles, Kolkata and Chennai metro
                    <br>Category C – SSA-level Operations (Telecom District Circle)
  
                  </li>
  
                  
                </ul>
              
              </div>
  
              
  
            </div>
  
            <div class="col-lg-5 align-items-stretch order-1 order-lg-2 img" style='background-image:  url("{% static '\img\isp\categories-of-isp-license-apply-get-isp-lisense-isp-consultant-consultancy-get-an-ISP-License-In-India-dot-trai-buy-agent-catergory-c-ssa-lisense-1024x576.jpg' %}");' data-aos="zoom-in" data-aos-delay="150">&nbsp;</div>
          </div>
                                                                        
        </div>
  
        <section id="pricing" class="pricing">
          <div class="container" data-aos="fade-up">
    
            <div class="section-title">
              <h2>Department of Telecommunication fee</h2>
              <!-- <p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat sit in iste officiis commodi quidem hic quas.</p> -->
            </div>
    
            <div class="row">
    
              <div class="col-lg-4 mt-3" data-aos="fade-up" data-aos-delay="100">
                <div class="box">
                  <h1 class="text-center">UL ISP Class A</h1>
                  <!-- <h4><sup>$</sup>0<span>per month</span></h4> -->
                  <hr>
                  <ul style="font-size: 17px; color:black; font-weight: ;">
                    <li><i class="bx bx-chevron-right"></i>
                      This is for PAN india operations
                    </li>
                    <li><i class="bx bx-chevron-right"></i> 
                      Rs. 50,000 Application Processing Fee(Non Refundable)
                    </li>
                    <li><i class="bx bx-chevron-right"></i> 
                        Rs. 30 Lakhs (Non Refundable) Entry fee
                    </li>
                    <li class=""><i class="bx bx-chevron-right"></i> 
                      Rs. 40 Lakhs Performance Bank Guarantee 
                    </li>
                    <li class=""><i class="bx bx-chevron-right"></i>
                      Rs. 2 Lakhs Financial Bank Guarantee
                    </li>
                  </ul>
                  <!-- <a href="#" class="buy-btn">Get Started</a> -->
                </div>
              </div>
  
  
              <div class="col-lg-4  mt-3" data-aos="fade-up" data-aos-delay="100">
                <div class="box">
                  <h1 class="text-center">UL ISP Class B</h1>
                  <!-- <h4><sup>$</sup>0<span>per month</span></h4> -->
                  <hr>
                  <ul style="font-size: 17px; color:black; font-weight: ;">
                    <li><i class="bx bx-chevron-right"></i>
                      This is for State level operations
                    </li>
                    <li><i class="bx bx-chevron-right"></i> 
                      Rs. 15 Thousands Application Processing fee(Non Refundable)
                    </li>
                    <li><i class="bx bx-chevron-right"></i> 
                        Rs. 2 Lakhs (Non Refundable) Entry fee
                    </li>
                    <li class=""><i class="bx bx-chevron-right"></i> 
                      Rs. 2 Lakhs Performance Bank Guarantee 
                    </li>
                    <li class=""><i class="bx bx-chevron-right"></i>
                      Rs. 20 Thousands Financial Bank Guarantee
                    </li>
                  </ul>
                  <!-- <a href="#" class="buy-btn">Get Started</a> -->
                </div>
              </div>
  
  
              <div class="col-lg-4 mt-3" data-aos="fade-up" data-aos-delay="100">
                <div class="box">
                  <h1 class="text-center">UL ISP Class C</h1>
                  <!-- <h4><sup>$</sup>0<span>per month</span></h4> -->
                  <hr>
                  <ul style="font-size: 17px; color:black; font-weight: ;">
                    <li><i class="bx bx-chevron-right"></i>
                      This is for SSA level operations
                    </li>
                    <li><i class="bx bx-chevron-right"></i> 
                      Rs. 10 Thousands Application Processing fee(Non Refundable)
                    </li>
                    <li><i class="bx bx-chevron-right"></i> 
                        Rs. 20 Thousand (Non Refundable) Entry fee
                    </li>
                    <li class=""><i class="bx bx-chevron-right"></i> 
                      Rs. 10 Thousands Performance Bank Guarantee 
                    </li>
                    <li class=""><i class="bx bx-chevron-right"></i>
                      Rs. 2 Thousand financial Bank Guarantee 
                    </li>
                  </ul>
                  <!-- <a href="#" class="buy-btn">Get Started</a> -->
                </div>
              </div>
  
            </div>
          </div>
        </section>
        
      </section>

      <!-- Unified License ISP ends here  -->

        <!-- ======= Why Us Section ======= -->

        <section id="vno_vs_unified" class="why-us section-bg">
            <div class="container-fluid" data-aos="fade-up">
        
              <div class="row">
                <div class="section-title">
                  <h2>VNO vs ISP
                  </h2>
                </div>
                <div class="col-lg-12 d-flex flex-column justify-content-center align-items-stretch  order-2 order-lg-1">
        
                  <div class="content">
                  <table class="table table-striped ">
                    <thead>
                      <tr class="text-center bg-dark text-white">
                        <!-- <th scope="col">#</th> -->
                        <!-- <th scope="col text-center bg-dark">#</th> -->
                        <th scope="col text-center bg-dark">VNO License</th>
                        <th scope="col text-center">ISP License</th>
                        <!-- <th scope="col">Handle</th> -->
                      </tr>
                    </thead>
                    <tbody class="bg-light" style="font-size: 17px;">
                      <tr>
                          <!-- <td>1</td>  -->
                          <td>VNO license is valid for 10 years</td>
                          <td>ISP license is valid for 20 years</td>
                      </tr>
                      <tr>
                        <!-- <td>2</td>  -->
                        <td>The license terms can be reviewed in every 4 years by DoT.</td>
                        <td>Once issued, the license will be valid for 20 years no matter the changes in DoT policies.</td>
                        </td>
                      </tr>
                      <tr>
                        
                        <!-- <td>3</td>  -->
                        <td>Minor bank guarantee to be submitted</td>
                        <td>More bank guarantees have to be submitted.</td>
                       
                      </tr>
                      <tr>
                          <!-- <td>4</td>  -->
                          <td>Lesser hardware involvement</td>
                          <td>More hardware involvement</td>
                        
                      </tr>
                      <tr>
                          <!-- <td>5</td>  -->
                          <td>Get bandwidth purchase credit in AGR calculation</td>
                          <td>Do not get bandwidth purchase amount credit in AGR for ISP</td>
                        
                      </tr>
                      <tr>
                          <!-- <td>6</td>  -->
                          <td>Can’t resell bandwidth in your service area to ISP or VNO company .</td>
                          <td>Can resell bandwidth in your service area to ISP or VNO company.</td>
                        
                      </tr>
                    </tbody>
                  </table>
        
                </div>
        
                <!-- <div class="col-lg-5 align-items-stretch order-1 order-lg-2 img" style='background-image:  url("{% static 'img/why-us.png' %}");' data-aos="zoom-in" data-aos-delay="150">&nbsp;</div> -->
              </div>
                                                                            
            </div>
          </section>
          <!-- End Why Us Section -->

          <section id="agr1" class="about">
            <div class="container" data-aos="fade-up">
        
              <div class="section-title">
                <h2>
                  How to acquire a VNO/  ISP license?
                </h2>
              </div>
        
              <div class="row content">
                <div class="col-lg-12">
                  <ul style="font-size: 18px;">
                    <!-- Routers Networking Private Limited based on Noida Sec-2 with our registered office at Mirzapur (UttarPradesh).  -->
                    <!-- <i class="ri-checkbox-blank-circle-fill"></i> -->
                    
                    <li>
                      <i class="ri-arrow-right-line"></i>
                      <b>Check Eligibility</b>: One has to register their company under the Companies Act, 1956. A  Private. Limited Companies or Limited only . 
                    </li>
                    <li>
                      <i class="ri-arrow-right-line"></i>
                      <b>VNO License Category </b>: There are 3 categories of VNO/ UL ISP licenses. VNO license is cheapest than UL ISP.
        
                      <ol>
                        <br>
                        <li>VNO Class A ISP (PAN India)</li>
                        <li>VNO Class B ISP(Telecom Circle/Metro Area)</li>
                        <li>VNO Class C ISP(Secondary Switching Area)</li>
                      </ol>
        
                    </li>
                    
                  </ul>
                  <!-- <a href="#" class="btn-learn-more">Learn More</a>             -->
        
                  <p style="font-size: 17px; font-weight: bold;">
                    Budget and Cost Analysis: To augment internet services, the government kept the prices extremely low for category C in comparison to class A and B
                  </p>
        
                  
                  <section id="pricing" class="pricing">
                    <div class="container" data-aos="fade-up">
              
                      <!-- <div class="section-title"> -->
                        <!-- <h2>Department of Telecommunication fee</h2> -->
                        <!-- <p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat sit in iste officiis commodi quidem hic quas.</p> -->
                      <!-- </div> -->
              
                      <div class="row">
              
                        <div class="col-lg-4" data-aos="fade-up" data-aos-delay="100">
                          <div class="box" style="border: 1px solid #3D4D6A;">
                            <h1 class="text-center"> VNO Class A</h1>
                            <!-- <h4><sup>$</sup>0<span>per month</span></h4> -->
                            <hr style="border-top: 1px dashed #3D4D6A;">
                            <ul style="font-size: 18px; color: black;">
                              <li><i class="bx bx-chevron-right"></i>
                                This is for PAN india operations
                              </li>
                              <li><i class="bx bx-chevron-right"></i> 
                                Rs. 50,000 Application Processing Fee(Non Refundable)
                              </li>
                              <li><i class="bx bx-chevron-right"></i> 
                                Rs. 15 Lakhs (Non Refundable) Entry fee
                              </li>
                              <li class=""><i class="bx bx-chevron-right"></i> 
                                Rs. 1 Lakh/- Financial Bank Guarantee
                              </li>
                              
                            </ul>
                            <!-- <a href="#" class="buy-btn">Get Started</a> -->
                          </div>
                        </div>
            
            
                        <div class="col-lg-4" data-aos="fade-up" data-aos-delay="100">
                          <div class="box" style="border: 1px solid #3D4D6A;">
                            <h1 class="text-center">VNO Class B</h1>
                            <!-- <h4><sup>$</sup>0<span>per month</span></h4> -->
                            <hr style="border-top: 1px dashed #3D4D6A;">
                            <ul style="font-size: 18px;  color: black">
                              <li><i class="bx bx-chevron-right"></i>
                                This is for State level operations
                              </li>
                              <li><i class="bx bx-chevron-right"></i> 
                                Rs. 15 Thousands Application Processing fee(Non Refundable)
                              </li>
                              <li><i class="bx bx-chevron-right"></i> 
                                  Rs. 1 Lakhs (Non Refundable) Entry fee
                              </li>
                              <li class=""><i class="bx bx-chevron-right"></i> 
                                Rs. 10000/- Financial Bank Guarantee
                              </li>
                              
                            </ul>
                            <!-- <a href="#" class="buy-btn">Get Started</a> -->
                          </div>
                        </div>
            
            
                        <div class="col-lg-4" data-aos="fade-up" data-aos-delay="100" >
                          <div class="box" style="border: 1px solid #3D4D6A;">
                            <h1 class="text-center">VNO Class C</h1>
                            <!-- <h4><sup>$</sup>0<span>per month</span></h4> -->
                            <hr style="border-top: 1px dashed #3D4D6A;">
                            <ul style="font-size: 18px; color: black">
                              <li><i class="bx bx-chevron-right"></i>
                                This is for SSA level operations
                              </li>
                              <li><i class="bx bx-chevron-right"></i> 
                                Rs. 10 Thousands Application Processing fee(Non Refundable)
                              </li>
                              <li><i class="bx bx-chevron-right"></i> 
                                Rs. 10 Thousand (Non Refundable) Entry fee
                              </li>
                              <li class=""><i class="bx bx-chevron-right"></i> 
                                Rs.1000/- in Financial Bank Guarantee 
                              </li>
                              
                            </ul>
                            <!-- <a href="#" class="buy-btn">Get Started</a> -->
                          </div>
                        </div>
            
                      </div>
                    </div>
                  </section>
        
                  <p style="font-size: 18px;">
                    
                    As the ubiquitous networks are advancing each day, the field of telecommunication provider has also changed. However, this new category of service provider (VNOs) is efficient enough of creating a customer’s choice and market place where many networks can enjoy under a single infrastructure. The VNO model has created a revolution in the telecom industry.
                  </p>
                  
        
                </div>
                <!-- <div class="col-lg-6 pt-4 pt-lg-0">
                  
                  <div class="col-lg-5 align-items-stretch order-1 order-lg-2 img" style='background-image:  url("{% static '\img\isp\GettyImages-719877855-5a99f44dba61770037a02ede.jpg' %}");' data-aos="zoom-in" data-aos-delay="150">&nbsp;</div>
                </div> -->
              </div>
        
            </div>
          </section><!-- End About Us Section -->

          <!-- Compliance starts here -->

          <section id="agr" class="why-us section-bg">
            <div class="container-fluid" data-aos="fade-up">
        
              <div class="row">
                <div class="section-title">
                  <h2>Compliance
                  </h2>
                </div>
                <div class="col-lg-6 d-flex flex-column justify-content-center align-items-stretch  order-2 order-lg-1">
        
                  <div class="content">
                    
                    <h3><strong>AGR Compliance</strong></h3>
                    <p style="font-weight: bold; color:; font-size: 18px;">
                      Our team provide support  for submit and calculating your AGR as per DOT norms with all necessary guidance, formats and training, so as to make you help to self learning.
                      <br><br><br><br><br>
                    </p>
                  </div>
                </div>
        
                <div class="col-lg-6 d-flex flex-column justify-content-center align-items-stretch  order-2 order-lg-1">
        
                  <div class="content">
                    
                    <h3><strong>Other  Compliance</strong></h3>
                    <p style="font-weight: bold;color:; font-size: 18px;" >
                      Our team is provide support in all below compliances.
                    </p>
                    <ul style="font-weight: bold; font-size: 18px; color:#848484;"  >
                      <li>Commencement of Operations intimation to TERM Cell</li>
                      <li>Periodic TERM Cell Reporting on Service Performance</li>
                      <li>Replies to DoT Notices</li>
                      <li>Maintaining various records</li>
                    </ul>
                  </div>
                </div>
        
                <!-- <div class="col-lg-5 align-items-stretch order-1 order-lg-2 img" style='background-image:  url("{% static 'img/why-us.png' %}");' data-aos="zoom-in" data-aos-delay="150">&nbsp;</div> -->
              </div>
                                                                            
            </div>
          </section><!-- End Why Us Section -->
        
        
        
          <!-- compliance ends here -->

    <!-- ======= Why Us Section ======= -->
  

  <!-- IP1 starts Here -->
  <section id="other" class="about" style="padding-bottom:30px;">
    <div class="container" data-aos="fade-up">
      <div class="section-title">
        <h2>Other Protocol
        </h2>
      </div>
  </section>

  <section id="ip1" class="d-flex align-items-center" style="background:white;">

    <div class="container">
      <div class="row">
        <div class="col-lg-6 d-flex flex-column justify-content-center pt-4 pt-lg-0 order-2 order-lg-1" data-aos="fade-up" data-aos-delay="200">
          <h2 class="text-dark text-center"  style="font: size 23px !important;; padding-bottom:25px ;">IP1</h2>
          <p class="font-weight-normal" style="font-size: 18px;">IP1 License is the authorization given by the Department of Telecommunication to make an Infrastructure provider. 
            A specific type of service provider, infrastructure for him consist of passive resources required by the stakeholders 
            of telecom industry. In DOT or Department of telecommunication, there is an innate need to make sure that these 
            resources have the right quality, can actually push the industry forward, and is actually helpful to the industry. 
            Thus, as this nuanced service provider, you have the ability to define the entire generation of IT growth.
            <br><br>Our team will provide help and support at every steps and ensure to get license in linear timeline. 
          </p>
          <!-- <div class="d-flex justify-content-center justify-content-lg-start">
            <a href="#about" class="btn-get-started scrollto">Get Started</a>
            <a href="https://www.youtube.com/watch?v=jDDaplaOz7Q" class="glightbox btn-watch-video"><i class="bi bi-play-circle"></i><span>Watch Video</span></a>
          </div> -->
        </div>
        <div class="col-lg-6 order-1 order-lg-2 hero-img" data-aos="zoom-in" data-aos-delay="200">
          <!-- <img src="assets/img/hero-img.png" class="img-fluid animated" alt=""> -->
          <img src="{% static '\img\isp\IP1.jpg' %}" class="img-fluid animated" alt="My image">
        </div>
      </div>
    </div>

  </section>
<!-- End IP1 -->

<!-- ======= PM Wani Section ======= -->
<section id="pmw" class="why-us section-bg">
  <div class="container-fluid" data-aos="fade-up">

    <div class="row">
      <!-- <div class="section-title">
        <h2>Expertise
        </h2>
      </div> -->
      <div class="col-lg-6 d-flex flex-column justify-content-center align-items-stretch  order-2 order-lg-1">

        <div class="content">
          
          <h3 class="text-center pb-5"><strong>PM WANI</strong></h3>
          <ul class="font-weight-normal" style="font-size: 18px;">
            <li>
              <!-- <i class="bx bx-chevron-right"></i> -->
              To provide public Wi-Fi service the government launched PM-Wani 
              (Prime Minister Wi-Fi Access Network interface to unleash a massive Wi-Fi network 
              in India with this, public data centers will be opened across the country.
            </li>
            <li> 
              <!-- <i class="bx bx-chevron-right"></i> -->
              Public Wi-Fi services will be delivered by new categories of public data offices 
              (PDOs), Public data office aggregators (PDOAs) and App providers. There will be no
               license, fee or registration for it.
            </li>
            <li>
              <!-- <i class="bx bx-chevron-right"></i> -->
               We can fulfill all your needs to understand this model and implement in your 
               business successfully.
            </li>

          </ul>
        </div>
      </div>

      <div class="col-lg-5 align-items-stretch order-1 order-lg-2 img" style='background-image:  url("{% static '\img\isp\PMWANI1.png' %}");' data-aos="zoom-in" data-aos-delay="150">&nbsp;</div>
    </div>
                                                                  
  </div>
</section>
<!-- End PM Wani Section -->

<!-- Unified Access service starts here -->

<section id="uas" class="pricing">
  <div class="container" data-aos="fade-up">

  

    <div class="row">

      <div class="col-lg-6 d-flex align-items-center" data-aos="fade-right" data-aos-delay="100">
        <!-- <img src="assets/img/skills.png" class="img-fluid" alt=""> -->
        <img src="{% static '\img\isp\download1.png' %}" class="img-fluid" alt="My image">
      </div>
      
      
      
      <div class="col-lg-6 pt-4 pt-lg-0 content" data-aos="fade-left" data-aos-delay="100">
        <h2 class="text-center" style="color:#37517E;">Unified Access Service </h2>
        <p class="font-weight-normal" style="font-size:18px; padding-top:20px;">
          An Unified Access Services licensee can provide wire-line as well as wireless 
          services in a service area. Wireless services include Full Mobile, Limited Mobile 
          and Fixed Wireless services. Basic and Cellular Services Licensees are permitted to
           migrate to Unified Access Services License regime. The licensee can also provide
            various Value Added Services. A restriction for authentication of subscriber
             terminal has been placed. In case of Limited Mobility facility based on Short 
             Distance Charging Area Linked Numbering Scheme.
          <br><br>
          Our team will provide help and support at every steps and ensure to get license.

        </p>
      </div>



    </div>
  </div>
</section>


<!-- Unified Access service ends here -->


<!-- NLD section starts Here -->

<!-- ======= Why Us Section ======= -->
<section id="nld" class="why-us section-bg">
  <div class="container-fluid" data-aos="fade-up">

    <div class="row">
      
      <div class="col-lg-6 d-flex flex-column justify-content-center align-items-stretch  order-2 order-lg-1">

        <div class="content">
          
          <h3 class="text-center"> <strong>NLD License</strong></h3>
          <p class="font-weight-normal" style="font-size:18px; padding-top:20px; color:;">
            NLD License is the DOT issued authorization that gives the licensee the power of providing National Long-Distance Service. It means that through it, the company can provide telecommunication services over a long-distance network. That long distance network is one that connects many Short Distance Charging Areas (SDCAs).
            <br><br>A National Long Distance Provider, also known as NLDO is a telecom operator that provides NLD Service by providing the digital resources required to carry long distance telecom services on a national scale.
            <br><br>Our team will provide help and support at every steps and ensure to get license.
            
          </p>
        </div>

        

      </div>

      <div class="col-lg-5 align-items-stretch order-1 order-lg-2 img" style='background-image:  url("{% static '\img\isp\NLD1.png' %}");' data-aos="zoom-in" data-aos-delay="150">&nbsp;</div>
    </div>
                                                                  
  </div>
</section>

<!-- NLD section ends Here -->


<!-- ISO certification starts here -->

      <section id="iso" class="pricing">
        <div class="container" data-aos="fade-up">

          <div class="section-title">
            <h2>ISP License </h2>
            <!-- <p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat sit in iste officiis commodi quidem hic quas.</p> -->
          </div>

          <div class="row">

            <div class="col-lg-6 d-flex align-items-center" data-aos="fade-right" data-aos-delay="100">
              <!-- <img src="assets/img/skills.png" class="img-fluid" alt=""> -->
              <img src="{% static '\img\isp\iDISC-ISO-27001.png' %}" class="img-fluid" alt="My image">
            </div>
            
            
            
            <div class="col-lg-6 pt-4 pt-lg-0 content" data-aos="fade-left" data-aos-delay="100">
              <h2 style="color:#37517E;" class="text-center">Virtual Network Operations License </h2>
              <p class="font-weight-normal" style="color: ; font-size: 18px;">
                <!-- <i class="ri-checkbox-blank-circle-fill" style="color:#3D4D6A";></i> -->
                <i class="bx bx-check" style="color: #F69545;"></i>An ISO 27001 is to provide a framework of standards for how a modern organization should manage their information and data.  An ISMS (information security management system) should exist as a living set of documentation within an organization for the purpose of risk management.
                <br><br><i class="bx bx-check" style="color: #F69545;"></i>ISO 27001 is a technology-neutral information security management standard, but it is not a guide. ISO 270001 offers the specification: a prescription of the features of an effective ISM. This means that, in order to receive certification of to pass an audit purpose.
                <br><br><i class="bx bx-check" style="color: #F69545;"></i>Certification is seen as a powerful assurance of your commitment to meet your obligations to customers and business partner.
                <br><br><i class="bx bx-check" style="color: #F69545;"></i>Our team will provide help and support at every steps and ensure to get certificate.

              </p>
              
            </div>



          </div>
        </div>
      </section>


<!-- ISO certification ends here -->


{% endblock %}

