{% extends "routersNetworkHtmlPages/header.html" %} 


{% load static %} 


{% block title %}
Consultancy
{% endblock %}

{% block pagecontent %} 

<!-- page breadcrumb start here -->
<!-- ======= Breadcrumbs ======= -->
    
<section id="breadcrumbs" class="breadcrumbs" style="background-color: white;">
    <div class="container">

        <ol>
            <li><a href="/">Home</a></li>
            <li>Technical Consultancy</li>
        </ol>

    </div>
  </section>
<!-- End Breadcrumbs -->
  
   <!-- page breadcrumb ends here -->
  
  
  <!-- banner start -->
  <section id="cta" class="cta"style="background-color:rgb(20, 26, 70);">
    <div class="container" data-aos="zoom-in">
  
      <div class="row">
        <div class="col-lg-12 text-center text-lg-start">
          <h1 class="text-center " style="color: #F69545;">Technical Consultancy</h1>
          <!-- <p> Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p> -->
        </div>
        <!-- <div class="col-lg-3 cta-btn-container text-center">
          <a class="cta-btn align-middle" href="#">Call To Action</a>
        </div> -->
      </div>
    </div>
  </section>
  
  <!-- banner ends -->
  
  <!-- new ISP section starts from here -->
  
  <!-- ======= Why Us Section ======= -->
  <section id="#isp" class="why-us section-bg">
    <div class="container-fluid" data-aos="fade-up">
  
      <div  class="row">
        <div class="section-title">
          <h2>New ISP Business Setup
          </h2>
        </div>
  
        <div class="col-lg-6 d-flex flex-column justify-content-center align-items-stretch  order-2 order-lg-1">
  
          <div class="content" style="padding-top: 0%;">
            
            <h5 class="font-weight-normal" style=" color:;">
              We have dedicated engineers, technician and market analyst team for setup a new ISP business, we can provide all types of help online or offline with our dedicated experts and network engineers. 
              <br><br>
            </h5>
            <p style="font-size: 20px; color: #000000; font-weight: bold;">Following steps for new ISP business setup</p>
            <ol style="font-size:17px; ">
              <li>Create a private limited company.</li>
              <li>Get ISP/ VNO license from Department of Telecommunication.</li>
              <li>Get IP pool /AS Number from authorized department.</li>
              <li>Purchase hardware.</li>
              <li>Get ILL from Telco.</li>
              <li>Get Google peering from CDN/Data center.</li>
              <li>Start internet business in your area.</li>
            </ol>
          </div>
  
          
        </div>
  
        <div class="col-lg-5 align-items-stretch order-1 order-lg-2 img" style='background-image:  url("{% static '\img\technical consultancy\ISP1.jpg' %}");' data-aos="zoom-in" data-aos-delay="150">&nbsp;</div>
      </div>
                                                                    
    </div>
  </section>
  
  
  
  
  
  
  <!-- new ISP section ends from here -->
  
  
  
  <!-- ISP Network Management software starts Here -->
  
  
  
  <section id="nms" class="pricing">
    <div class="container" data-aos="fade-up">
  
      <div class="section-title">
        <h2>ISP Network Management Software </h2>
        <!-- <p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat sit in iste officiis commodi quidem hic quas.</p> -->
      </div>
  
      <div class="row">
  
        <div class="col-lg-6 d-flex align-items-center" data-aos="fade-right" data-aos-delay="100">
          <!-- <img src="assets/img/skills.png" class="img-fluid" alt=""> -->
          <img src="{% static '\img\technical consultancy\mgmt_software.jpeg' %}" class="img-fluid" alt="My image">
        </div>
        
        
        
        <div class="col-lg-6 pt-4 pt-lg-0 content" data-aos="fade-left" data-aos-delay="100">
          <!-- <h3>ISP Network Management Software </h3> -->
          <p class="font-weight-normal" style="font-size: 20px; font-weight: ;">
            <!-- <i class="ri-checkbox-blank-circle-fill" style="color:#3D4D6A";></i> -->
            All aspects of ISP business starting from lead management to provisioning, subscriber life cycle management, policy enforcement, billing and franchisee management, self-service portals, customer mobile apps, helpdesk, inventory management and much more. The solution is also designed to scale out to more than 2,50,000 subscribers in a single deployment also with redundancy and high-availability
            <br><br>We provide a comprehensive ISP management solutions to our client, which can worry free manage to your network and customer also. 
          </p>
          
        </div>
  
  
  
      </div>
    </div>
  </section>
  
  
  
  
  <!-- ISP network Management software ends here  -->
  
  
  <!-- Network Trouble shooting starts from here  -->
  
  <section id="nts" class="cta" style="background-color:rgba(74, 39, 79, 1);">
    <div class="container" data-aos="zoom-in">
  
      <div class="row">
        <div class="col-lg-9 text-center text-lg-start">
          <h3 class="text-center" style="font-size: 23px;">Network Trouble shooting</h3>
          <p class="text-white text-center" style="font-size: large;"> We provide network trouble shooting to our ISPs via our expert network engineers.
          </p>
        </div>
        <div class="col-lg-3 cta-btn-container text-center">
          <a class="cta-btn align-middle" href="/contact/">Make Call to Optimize</a>
        </div>
      </div>
  
  
    </div>
  </section>

  
  
  <!-- Network Trouble shooting ends from here  -->
  
  <!-- Network AMC starts from here  -->
  
  
  <section id="amc" class="pricing">
    <div class="container" data-aos="fade-up">
  
      <div class="section-title">
        <h2>Network AMC </h2>
        <!-- <p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat sit in iste officiis commodi quidem hic quas.</p> -->
      </div>
  
      <div class="row"> 
        <div class="col-lg-6 pt-4 pt-lg-0 content" data-aos="fade-left" data-aos-delay="100">
          <!-- <h3>ISP Network Management Software </h3> -->
          <p class="font-weight-normal" style="font-size: 20px; font-weight: ;">
            <!-- <i class="ri-checkbox-blank-circle-fill" style="color:#3D4D6A";></i> -->
            A well-integrated Annual Maintenance Contract works better and leaves no room for errors.
            All contract terms and conditions, as well as the numerous services covered by the contract, are written out 
            systematically in our AMC solutions, with the utmost transparency and confidence. 
            <br>   <br>
            We serve as your long-term partners, whom you can rely on to provide the best AMC solution for ISP business. 
          </p>
        </div>
  
  
        <div class="col-lg-6 d-flex align-items-center" data-aos="fade-right" data-aos-delay="100">
          <!-- <img src="assets/img/skills.png" class="img-fluid" alt=""> -->
          <img src="{% static '\img\technical consultancy\amc1.png' %}" class="img-fluid" alt="My image">
        </div>
      </div>
    </div>
  </section>
  
  <!-- Network AMC ends from here  -->
  
  <!-- call to acton in hardware consultancy starts from here -->
  
  <section id="hdc" class="cta p-5" style="background-color:rgba(74, 39, 79, 1);">
    <div class="container" data-aos="zoom-in">
  
      <div class="row">
        <h2 class="text-center text-light pb-3">We Happy To Guide You</h2>
        <div class="col-lg-9 text-center text-lg-start">
          <h3 class="text-center">Hardware Consultancy and Refurbished ISP Hardware</h3>
          <p style="font-size: 14px;"> 
            We offered services to our new ISPs for established a suitable hardware according to business need and size. 
            <br> 
            We offered the large range of used and refurbished servers, routers and other networking product in very attractive price.
          </p>
        </div>
        <div class="col-lg-3 cta-btn-container text-center">
          <a class="cta-btn align-middle" href="/contact/">Make Call for Query</a>
        </div>
      </div>
    </div>
  </section>
  
  <!-- call to acton in hardware consultancy ends from here -->
  
  <!-- OTT and Hotspot Solution starts here  -->
  
  <section id="ott" class="about">
    <div class="container" data-aos="fade-up">
      <div class="row content">
        <div class="col-lg-6">
          <div class="section-title">
            <h2>O. T. T.
            </h2>
          </div>
  
          <p class="font-weight-normal" style="font-size: 20px;">
            We provide industry best OTT and IP TV portal base solution, ISP can provide to his client through portal. 
            
          </p>
  
          <!-- <a href="#" class="btn-learn-more">Learn More</a>             -->
        </div>
  
  
        
   
        
  
        <div class="col-lg-6 pt-4 pt-lg-0">
          <div class="section-title">
            <h2>Wi-Fi Hotspot Solution
            </h2>
          </div>
          <p class="font-weight-normal" style="font-size: 20px;">
            We have industrial standard hotspot solutions for ISP to serve his client like Hospital, Hotels, School/ college and public wi-fi from world class OEM vendors.
        
          </p>
         
        </div>
      </div>
  
    </div>
  </section>
  
  <!-- OTT and Hotspot Solution ends here  -->

  {% endblock %}
