{% extends "routersNetworkHtmlPages/header.html" %} 


{% load static %} 


{% block title %}
    Telco Resources
{% endblock %}
{% block pagecontent %} 

<!-- Telco resources for isp starts from here  -->



<!-- page breadcrumb start here -->
<!-- ======= Breadcrumbs ======= -->
    
<section id="breadcrumbs" class="breadcrumbs" style="background-color: white;">
    <div class="container">

        <ol>
            <li><a href="/">Home</a></li>
            <li>Telco Resources For ISP</li>
        </ol>

    </div>
  </section>
<!-- End Breadcrumbs -->
   <!-- page breadcrumb ends here -->
  
  
  <!-- banner start -->
  <section id="cta" class="cta" style="background:rgb(20, 26, 70);">
    <div class="container" data-aos="zoom-in">
  
      <div class="row">
        <div class="col-lg-12 text-center text-lg-start">
          <h1 class="text-center"style="color:#F69545"> Telco Resources for ISP  </h1>
          <!-- <p> Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p> -->
        </div>
        <!-- <div class="col-lg-3 cta-btn-container text-center">
          <a class="cta-btn align-middle" href="#">Call To Action</a>
        </div> -->
      </div>
    </div>
  </section>
  
  <!-- banner ends -->
  
  
  <!-- Internet leased Line starts from here -->
  
  <section id="ill" class="why-us section-bg">
    <div class="container-fluid" data-aos="fade-up">
  
      <div class="row">
        <div class="section-title">
          <h2 style="color: #F69545;">Internet Leased Line
          </h2>
        </div>
        <div class="col-lg-6 d-flex flex-column justify-content-center align-items-stretch  order-2 order-lg-1">
  
          <div class="content">
            
            <!-- <h3>Eum ipsam laborum deleniti <strong>velit pariatur architecto aut nihil</strong></h3> -->
            <p class="font-weight-normal" style="font-size: 18px;  color:;">
              We are the associate partners with the different telcos and A class ISPs like TTSL (Tata Tele Services Limited), Vodafone and Bharti.  We provide super quality bandwidth with our associated partners. We are hold also gold partnership with TTSL.  
              <br><br>
              In today’s fast-paced world, the success of your organization depends strongly on your organization’s communication infrastructure. The Internet is one of the most effective and essential communication tools for any organization.
              <br><br>
              <strong>Features Summary:-</strong>
              <ol style="font-size: 18px;">
                <li>Backup Links from Airtel & Tata</li>
                <li>Carrier-grade connectivity</li>
                <li>Clear bandwidth backbone capacity</li>
                <li>Round the clock customer support</li>
                <li>Managed Internet Leased lines with Bad data elimination, User Management, and Network Management</li>
              </ol>
            </p>
          </div>
          
  
        </div>
  
        <div class="col-lg-5 align-items-stretch order-1 order-lg-2 img" style='background-image:  url("{% static '\img\telco resources\lease.jpg' %}");' data-aos="zoom-in" data-aos-delay="150">&nbsp;</div>
      </div>
                                                                    
    </div>
  </section>
  
  <!-- Internet leased Line ends from here -->
  
  <!-- Point to Point (P2P) starts from here  -->
  
  <section id="ptp" class="pricing">
    <div class="container" data-aos="fade-up">
  
      <div class="section-title">
        <h2>Point to Point (P2P) </h2>
        <!-- <p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat sit in iste officiis commodi quidem hic quas.</p> -->
      </div>
  
      <div class="row">
  
        <div class="col-lg-6 d-flex align-items-center" data-aos="fade-right" data-aos-delay="100">
          <!-- <img src="assets/img/skills.png" class="img-fluid" alt=""> -->
          <img src="{% static '\img\telco resources\Point-to-Point2.jpg' %}" class="img-fluid" alt="My image">
        </div>
        
        
        
        <div class="col-lg-6 pt-4 pt-lg-0 content" data-aos="fade-left" data-aos-delay="100">
          <!-- <h3>Virtual Network Operations License </h3> -->
          <p class="font-weight-normal" style="font-size: 18px;">
            <!-- <i class="ri-checkbox-blank-circle-fill" style="color:#3D4D6A";></i> -->
            We provide point to point with our associate telco and Class “A” partners. We also serve BBNL infra to our rural ISPs and TSPs.  
            <br><br>
            No need to pay expensive leased line charges between buildings, or put up with the slow speeds associated with leased lines. Receive blistering speeds with minimal operating costs and ensures that your network is not the slowest link in your company’s performance!
            <br><br>
            Deployment of an outdoor wireless network requires an even greater specialized skill set due to the unique volatile nature of the outdoor environment. With years of experience in deploying outdoor wireless networks, uniquely makes us one of those capable of a successful deployment with 99.99% availability
            
            <!-- Point to point wireless network links connect two locations together through line of sight (LOS), operating in unlicensed/licensed radio frequencies or through free space optics with speeds available between 100mbps to 10Gbps. -->
  
          </p>
          <strong style="font-size: 19px; color: black;">Typical Point to Point applications are:-</strong>
          <ul class="fst-italic " style="font-size: 19px;  color: black;">
            <li><i class="bx bx-check"></i>Building to building connectivity</li>
            <li><i class="bx bx-check"></i>Leased line replacement</li>
            <li><i class="bx bx-check"></i>Fiber line replacement</li>
            <li><i class="bx bx-check"></i> Wireless failover</li>
            <!-- <li><i class="bx bx-check"></i>Reduced market barriers</li>
            <li><i class="bx bx-check"></i>Get bandwidth purchase credit in AGR calculation</li> -->
          </ul>
        </div>
  
  
  
      </div>
    </div>
  </section>
  
  <!-- Point to Point (P2P)  end here  -->
  
  <!-- Google Peering starts here  -->
  
  <section id="ggp" class="why-us section-bg">
    <div class="container-fluid" data-aos="fade-up">
  
      <div class="row">
        <div class="section-title" >
          <h2 style="color: #F69545;">Google Peering
          </h2>
        </div>
        <div class="col-lg-7 d-flex flex-column justify-content-center align-items-stretch  order-2 order-lg-1">
  
          <div class="content">
            
            <!-- <h3>Eum ipsam laborum deleniti <strong>velit pariatur architecto aut nihil</strong></h3> -->
            <p class="font-weight-normal" style="font-size: 18px;  color:">
              ISPs can peer with OTT and different multimedia platforms by Bilateral and Route Server Peering through our associate partner DE-CIX India. Improved latency and network performance for end users. We provide peering services with our associate CDN partners and connected data center like Decix,GPX, webwerks at different location. 
            </p>
          </div>
  
          
  
        </div>
  
        <div class="col-lg-5 align-items-stretch order-1 order-lg-2 img" style='background-image:  url("{% static '\img\telco resources\peering 1.png' %}");' data-aos="zoom-in" data-aos-delay="150">&nbsp;</div>
      </div>
                                                                    
    </div>
  </section>
  
  <!-- Google Peering eds here  -->
  
  
  <!-- IP pool as number start here -->
  
  <section id="ipn" class="pricing">
    <div class="container" data-aos="fade-up">
  
      <div class="section-title">
        <h2>IP Pool/ AS Number </h2>
        <!-- <p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat sit in iste officiis commodi quidem hic quas.</p> -->
      </div>
  
      <div class="row">
  
        <div class="col-lg-6 d-flex align-items-center" data-aos="fade-right" data-aos-delay="100">
          <!-- <img src="assets/img/skills.png" class="img-fluid" alt=""> -->
          <img src="{% static '\img\telco resources\ASN1.jpg' %}" class="img-fluid" alt="My image">
        </div>
        
        
        
        <div class="col-lg-6 pt-4 pt-lg-0 content" data-aos="fade-left" data-aos-delay="100">
          <!-- <h3>Virtual Network Operations License </h3> -->
          <p class="" style="font-size: 18px; color:black;">
            <!-- <i class="ri-checkbox-blank-circle-fill" style="color:#3D4D6A";></i> -->
            Our dedicated team is support to get the IP Pool (IPV4 or IPV6)/ AS number from authorize government body. 
            <br><br>
            IP pools are groups of dedicated IP addresses that are used to manage the sending reputation of your individual mail streams.
            <br><br>
            An AS number is a connected group of one or more IP prefixes run by one or more network operators which has a SINGLE and CLEARLY DEFINED routing policy. This number is used in both the exchange of exterior routing information (between neighboring ASes), and as an identifier of the AS itself. 
  
          </p>
          
        </div>
  
  
  
      </div>
    </div>
  </section>
  
  <!-- ip pool as number ends here -->
  
  
  <!-- Telco resources for isp ends from here  -->
  

{% endblock %} 